#sec{
    margin: 30px;
    height:200px;
    border:1px solid #000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec button {
    padding: 20px;
    font-size: 1.3rem;
    border: none;
    background: none;
    color: #000;
    cursor: pointer;
    
}